@import './variables';
@import './button';
@import './text';

.insurance-info-container {
  color: $whiteColor;
  height: 109vw;
  > div {
    padding-left: 120px;
  }
  h1 {
    font-weight: normal;
  }
  p {
    align-items: center;
    display: flex;
    img {
      margin-right: 10px;
    }
  }
  .insurance-info-bg {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .logo{
    align-items: center;
    border-bottom: 1px solid $lightRed;
    display: flex;
    justify-content: flex-start;
    height: 64px;
  }
  .content {
    padding-top: 64px;
    padding-bottom: 46px;
  }
  @media screen and (min-width: $breakpointSM) {
    height: auto;
  }
}

.insurance-form-container {
  padding:60px 50px;
  text-align: left;
  .checkbox-container {
    align-items: center;
    display: flex;
    margin: 0.5em auto;
    width: 100%;
  }
}

.inputs-form{
  text-align: left;
  .react-datepicker-wrapper {
    width: 100%;
  }
  .mdc-select {
    width: 100%;
  }
  .errorMessage {
    color: $darkRed;
  }
}

.side-image-container {
  .side-image-bg {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .logo{
    align-items: center;
    background-color: $redColor;
    border-bottom: 1px solid $lightRed;
    display: flex;
    justify-content: flex-start;
    height: 64px;
    padding-left: 32px;
    @media screen and (min-width: $breakpointMD) {
      background-color: transparent;
      justify-content: center;
      padding: 0;
      width: 99%;
    }
  }
}

.step-progress{
  background-color: #F7F8FC;
  padding: 68px 0 36px;
  &> div {
    margin: auto;
    width: 80%;
  }
  @media screen and (min-width: $breakpointMD) {
    background-color: transparent;
    &> div {
      width: 60%;
    }
  }
}
.step-header {
  background-color: #F7F8FC;
  padding-bottom: 48px;
  div {
    margin: auto;
    width: 80%;
    h2{
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $breakpointMD) {
    background-color: transparent;
    div {
      width: 60%;
    }
  }
}
.step-form {
  margin: auto;
  width: 80%;
  &> p {
    font-size: 20px;
    margin-top: 48px;
  }
  @media screen and (min-width: $breakpointMD) {
    width: 60%;
    &> p {
      margin-top: 0;
    }
  }
}