@import './variables';
@import './button';
@import './text';

.insurance-info-container {
  color: $whiteColor;
  > div {
    padding-left: 120px;
  }
  h1 {
    font-weight: normal;
  }
  p {
    align-items: center;
    display: flex;
    img {
      margin-right: 10px;
    }
  }
  .insurance-info-bg {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .logo{
    align-items: center;
    border-bottom: 1px solid $lightRed;
    display: flex;
    justify-content: flex-start;
    height: 64px;
  }
  .content {
    padding-top: 64px;
    padding-bottom: 46px;
  }
}

.insurance-form-container {
  padding:60px 50px;
  text-align: center;
  .checkbox-container {
    align-items: center;
    display: flex;
    margin: 0.5em auto;
    width: 100%;
  }
}

.inputs-form{
  text-align: left;
  .react-datepicker-wrapper {
    width: 100%;
  }
  .errorMessage {
    color: $darkRed;
  }
}

.step-progress{
  margin: auto;
  padding: 68px 0 36px;
  width: 60%;
}

.side-image-container {
  .side-image-bg {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  .logo{
    align-items: center;
    background-color: $redColor;
    border-bottom: 1px solid $lightRed;
    display: flex;
    justify-content: flex-start;
    height: 64px;
    padding-left: 32px;
    @media screen and (min-width: $breakpointMD) {
      background-color: transparent;
      justify-content: center;
      padding: 0;
      width: 99%;
    }
  }
}